{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      Health Employment Team
    </h1>
    <p class="govuk-body">Prototype links for User Research</p>



    <h2 class="govuk-heading-m">
      Support Journal messages - May 13
    </h2>
    <p class="govuk-body"> <a href="journal-message-1">Journal message - 1st</a></p>
    <p class="govuk-body"> <a href="journal-message-2">Journal message - 2nd</a></p>
    <p class="govuk-body"> <a href="journal-message-3">Journal message - 3rd</a></p>


      {{ govukButton({
          text: "Start",
          href: "journal-messages"
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
