{% extends "layouts/uc-claimant.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block header %}
{{
    ucClaimantHeader({
        "serviceName": serviceName,
        "serviceUrl": "/",
        "profileName": "Sam Bloggs",
        "action": "Sign out",
        "actionUrl": "#"
    })
}}
{% endblock %}

{% block beforeContent %}

    {{
        ucClaimantNavigation({
            attributes: {
                "aria-label": "Claimant primary"
            },
            "items": [
            {
                "href": "/",
                "text": "Home",
                "active": true if section === "home"
            },
            {
                "href": "#",
                "text": "To-do list",
                "active": true if section === "todo"
            },
            {
                "href": "#",
                "text": "Journal",
                "active": true
            }
            ]
        })
    }}



    {{
        govukBackLink({
            text: "Back",
            href: "/"
        })
    }}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl ">Journal</h1>
      <p class="govuk-body">Use your journal to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>add details about your work search</li>
        <li>leave messages for Universal Credit</li>
        <li>view your Universal Credit account history</li>
      </ul>
      <p>If your message needs a reply, we'll respond during office hours (Monday to Friday, 8am to 6pm).</p>
      

      {{ govukButton({
        text: "Add a journal entry"
      }) }}

      

      {{ govukTable({
        caption: "Journal entries",
        captionClasses: "govuk-table__caption--m govuk-!-margin-top-6",
        firstCellIsHeader: false,
        head: [
          {
            text: "Date and time"
          },
          {
            text: "Message"
          },
          {
            text: "Added by"
          }
        ],
        rows: [
          [
            {
              text: "12 May 2025 at 12:05pm"
            },
            {
              html: "<p>Hello Sam,</p> 
              <p>My name is Kiran from Handsworth Jobcentre. I specialise in supporting disabled people and people with health conditions who are not in work. </p>

              <p>I'm sorry if we have not been in touch for a while. Some of our customers have told us that they feel forgotten. We want to try to put that right.</p>

              <p>I would like to offer you a friendly chat so I can understand more about your situation at the moment and any support you might need. There are lots of practical things we can help with, for example:</p>
              <ul>
                <li>help filling in forms</li>
                <li>help applying for benefits</li>
                <li>digital skills training</li>
                <li>English for speakers of other languages</li>
                <li>free training courses</li>
              </ul>

              <p>If this sounds good, let me know. We can chat here, or I can arrange a time for us to talk on the phone or video call, or meet in the jobcentre. Friends and family are also very welcome to be with you, if you would like.</p>

              <p>If now is not a good time for you, we can also talk in a few months. </p>

              <p>It's also ok if you do not want to accept this invitation.</p>

              <p>Whatever you decide:</p>

              <ul>
                <li>it will not affect your Universal Credit payments</li>
                <li>you will not have another work capability assessment</li>
              </ul>

              <p>Please reply to this journal message to tell me what you want to do. I will send you a reminder in 2 weeks.</p>

              
              <p>Best wishes,</p>
              
              <p>Kiran</p>"
            },
            {
              html: "<p>Kiran</p>
              <p>Handsworth Jobcentre</p>"
            }
          ],
          [
            {
              text: "02 August 2023 at 3:05pm"
            },
            {
              text: "Upload CV completed"
            },
            {
              text: "Sam Bloggs"
            }
          ],
          [
            {
              text: "01 August 2023 at 9:00am"
            },
            {
              text: "Accept your commitments completed"
            },
            {
              text: "Sam Bloggs"
            }
          ]
        ]
      }) }}


  </div>
</div>

{% endblock %}
