{% extends "layouts/uc-claimant.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}


      <h1 class="govuk-heading-l govuk-visually-hidden">Journal</h1>

      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "Journal entries",
        captionClasses: "govuk-table__caption--l govuk-!-margin-top-6",
        firstCellIsHeader: false,
        head: [
          {
            text: "Date and time"
          },
          {
            text: "Message"
          },
          {
            text: "Added by"
          }
        ],
        rows: [
          [
            {
              text: "12 May 2025 at 12:05pm"
            },
            {
              html: "<p>Hello Sam,</p> 

              <p>My name is Kiran from Handsworth Jobcentre and I specialise in supporting disabled people and people with health conditions who are not in work. I'd like to tell you about the support available and how I might be able to help you.</p>

              <p>I can arrange different kinds of support depending on your situation, for example:</p>

              <ul>
                <li>help with form filling and benefits applications</li>
                <li>free training courses</li> 
                <li>mental health support</li>
              </ul>

              <p>I will send another message next week to tell you more. You can contact me before then if you would like to.</p>

              <p>If you decide you would like support:</p>

              <ul>
                <li>you will not have another work capability assessment</li>
                <li>it will not affect your Universal Credit payments</li>
              </ul>

              <p>You do not have to accept this offer. If now is not a good time for you, please let me know.</p> 

              <p>You can reply to this journal message to tell me what you want to do. We can have a chat here, or I can arrange a time to call you.</p>
              
              <p>Best wishes,</p>
              
              <p>Kiran</p>"
            },
            {
              html: "<p>Kiran</p>
              <p>Handsworth Jobcentre</p>"
            }
          ],
          [
            {
              text: "02 August 2023 at 3:05pm"
            },
            {
              text: "Upload CV completed"
            },
            {
              text: "Sam Bloggs"
            }
          ],
          [
            {
              text: "01 August 2023 at 9:00am"
            },
            {
              text: "Accept your commitments completed"
            },
            {
              text: "Sam Bloggs"
            }
          ]
        ]
      }) }}


  </div>
</div>

{% endblock %}
