{% extends "layouts/uc-claimant.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}


      <h1 class="govuk-heading-l govuk-visually-hidden">Journal</h1>

      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        caption: "Journal entries",
        captionClasses: "govuk-table__caption--l govuk-!-margin-top-6",
        firstCellIsHeader: false,
        head: [
          {
            text: "Date and time"
          },
          {
            text: "Message"
          },
          {
            text: "Added by"
          }
        ],
        rows: [
          [
            {
              text: "12 May 2025 at 12:05pm"
            },
            {
              html: "<p>Hi Sam,</p>
              
              <p>I'd like to invite you to a friendly chat about the support I can offer you. We can talk at a time that suits you on the phone or on a video call. Or you can come into the jobcentre if you prefer. Your friends and family are also very welcome to be with you. If this sounds good, please get in touch. </p>

              <p>It can be difficult living with a disability or health condition and we know that some people feel quite lonely at times. If that's you, we can put you in contact with organisations who can help. Some people also find that the support we give them helps with their confidence and wellbeing. There's lots of practical things I can help you with too.
              </p>

              <p>Remember that accepting support will not affect your Universal Credit payments and you will not have a new work capability assessment. </p>

              <p>You do not have to accept this offer, and you can ask me not to contact you about it. If now is not a good time for you, please let me know. </p>

              <p>You can reply to this journal message to tell me what you want to do. We can have a chat here, or I can arrange a time to call you.</p>

              <p>Best wishes,</p>

              <p>[Agent name]</p>
              
              "
            },
            {
              text: "Joe Bloggs"
            }
          ],
          [
            {
              text: "01 April 2025 at 3:05pm"
            },
            {
              text: "Message"
            },
            {
              text: "Joe Bloggs"
            }
          ],
          [
            {
              text: "01 December 2034 at 9:00am"
            },
            {
              text: "Message"
            },
            {
              text: "Joe Bloggs"
            }
          ]
        ]
      }) }}


  </div>
</div>

{% endblock %}
